:root {

  --color-rosewater: #f5e0dc;
  --color-flamingo: #f2cdcd;
  --color-pink: #f5c2e7;
  --color-mauve: #cba6f7;
  --color-red: #f38ba8;
  --color-maroon: #eba0ac;
  --color-peach: #fab387;
  --color-yellow: #f9e2af;
  --color-green: #a6e3a1;
  --color-teal: #94e2d5;
  --color-sky: #89dceb;
  --color-sapphire: #74c7ec;
  --color-blue: #89b4fa;
  --color-lavender: #b4befe;
  --color-text: #cdd6f4;
  --color-base: #1e1e2e;
  --color-mantle: #181825;
  --color-crust: #11111b;
}


body {
  font-family: Arial, sans-serif;
  background-color: var(--color-mantle);
}


/* Sidebar styles */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 200px;
  background-color: var(--color-crust);
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 10px;
  display: none;
}


.sidebar a,
.sidebar button {
  text-decoration: none;
  padding: 12px 40px;
  font-size: 16px;
  display: block;
  cursor: pointer;
  transition: background-color 0.2s;
  color: var(--color-text);
  background: var(--color-crust);
}


.sidebar a:hover,
.sidebar button:hover {
  background-color: var(--color-blue);
}


.sidebar .closebtn {
  text-align: left;
  text-decoration: none;
  display: block;
  cursor: pointer;
  height: 40px;
  width: 200px;
  font-size: 16px;
  transition: background-color 0.2s;
  color: var(--color-text);
  background: var(--color-red);
  border: none;
}


/* Left menu specific styles */
.left-menu {
  left: 0;
  transform: translateX(-100%);
}


.left-menu.open {
  display: block;
  transform: translateX(0);
}


/* Right menu specific styles */
.right-menu {
  right: 0;
  transform: translateX(100%);
}


.right-menu.open {
  display: block;
  transform: translateX(0);
}


/* Page content styles */
.header {
  background-color: var(--color-crust);
  height: 40px;
}


/* Buttom */
.header .button {
  font-size: 24px;
  border: none;
  color: var(--color-yellow);
  background: none;
}


.header .left-button {
  float: left;
}


.header .right-button {
  float: right;
}


i {
  margin-left: 12px;
  padding-top: 7px;
  font-size: 24px;
  color: #a6e3a1;
  background: none;  
}


.container {
  margin: 2rem;
  color: var(--color-text);
}


.code {
  background-color: black;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 8px;
  color: greenyellow;
}
